<div class="container mt-5">
    <h1 class="text-center mb-5">Sinema Saloons</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/CinemaSaloons/IMAX.jpg" class="card-img-top" alt="IMAX">
                <div class="card-body text-center">
                    <h5 class="card-title">IMAX</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/CinemaSaloons/4DX.png" class="card-img-top" alt="4DX">
                <div class="card-body text-center">
                    <h5 class="card-title">4DX</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/CinemaSaloons/GoldClassCinema.jpg" class="card-img-top" alt="Gold Class">
                <div class="card-body text-center">
                    <h5 class="card-title">Gold Class</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/CinemaSaloons/PremiumCinema.jpg" class="card-img-top" alt="Premium Cinema">
                <div class="card-body text-center">
                    <h5 class="card-title">Premium Cinema</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/CinemaSaloons/8D.jpg" class="card-img-top" alt="8D">
                <div class="card-body text-center">
                    <h5 class="card-title">8D</h5>
                </div>
            </div>
        </div>
    </div>
</div>
